$green: #05957c !important;
$greenBackground: #b3d4cf !important;

@mixin sliderPlante($url) {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 35px;
  background-color: $green;
  cursor: pointer;
  border-radius: 50px;
  background-image: $url;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 13px;
}

.sliderPlante {
  -webkit-appearance: none;
  width: 85%;
  height: 35px;
  background: $greenBackground;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 50px;
}
.sliderPlante:hover {
  opacity: 1;
}
.sliderPlante::-moz-range-thumb {
  @include sliderPlante(url(../../assets/button-butterfly.png));
}

.sliderPlante::-webkit-slider-thumb {
  @include sliderPlante(url(../../assets/button-butterfly.png));
}

.sliderArrosage::-webkit-slider-thumb {
  @include sliderPlante(url(../../assets/button-water.png));
}

.sliderArrosage::-moz-range-thumb {
  @include sliderPlante(url(../../assets/button-water.png));
}

.sliderFlore::-moz-range-thumb {
  @include sliderPlante(url(../../assets/button-flower.png));
}

.sliderFlore::-webkit-slider-thumb {
  @include sliderPlante(url(../../assets/button-flower.png));
}

.sliderSaison::-webkit-slider-thumb {
  @include sliderPlante(url(../../assets/button-sun.png));
}

.sliderSaison::-moz-range-thumb {
  @include sliderPlante(url(../../assets/button-sun.png));
}

.sliderAnnuelle::-moz-range-thumb {
  @include sliderPlante(url(../../assets/button-butterfly.png));
}
.sliderAnnuelle::-webkit-slider-thumb {
  @include sliderPlante(url(../../assets/button-butterfly.png));
}

.button {
  background: $green;
}

.sliderArrosage {
  -webkit-appearance: none;
  width: 85%;
  height: 35px;
  background: $greenBackground;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 50px;
}
.sliderArrosage:hover {
  opacity: 1;
}

.sliderFlore {
  -webkit-appearance: none;
  width: 85%;
  height: 35px;
  background: $greenBackground;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 50px;
}
.sliderFlore:hover {
  opacity: 1;
}

.sliderSaison {
  -webkit-appearance: none;
  width: 85%;
  height: 35px;
  background: $greenBackground;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 50px;
}
.sliderSaison:hover {
  opacity: 1;
}

.sliderAnnuelle {
  -webkit-appearance: none;
  width: 85%;
  height: 35px;
  background: $greenBackground;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 50px;
}
.sliderAnnuelle:hover {
  opacity: 1;
}
