body {
  font-family: "Montserrat", sans-serif;
}

.fullpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px !important;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 5px -5px gray;
  width: 370px;
}

.endpage {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
