body {
    font-family: "Montserrat", sans-serif;
  }
  
  .title {
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
    background-color: #05957c;
    color: blanchedalmond;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
  
  .fullpage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px !important;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 5px -5px gray;
    width: 370px;
  }
  
  .endpage {
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
  