

.longueur {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #e78e5e!important;
    border: solid 5px white;
    box-shadow: 0 4px 8px grey;
    border-radius: 50px;
    margin-top: 50px!important;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
}

.largeur, .profondeur {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #e78e5e!important;
    border: solid 5px white;
    box-shadow: 0 4px 8px grey;
    border-radius: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
}



.centragePage{
    justify-content: center;
   
}

.potFleur {
    margin-top: 50px;
    padding-top: 30px;
    margin-left: 30px;
}

.long {
    height: 20px;
    margin-top: 55px;
    margin-left: 20px;
}

.larg, .prof {
    height: 20px;
    margin-top: 5px;
    margin-left: 20px;
}

.imageBas {
    padding-bottom: 0px !important;
}

.image{
    margin-top: 130px;
    
}


