

.longueur {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #e78e5e!important;
    border: solid 5px white;
    box-shadow: 0 4px 8px grey;
    border-radius: 50px;
    margin-top: 50px!important;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
}

.largeur, .profondeur {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #e78e5e!important;
    border: solid 5px white;
    box-shadow: 0 4px 8px grey;
    border-radius: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
}

.centrage{
    margin-top: 90px;
}

.potFleur {
    margin-top: 50px;
    padding-top: 30px;
    margin-left: 30px;
}

.image{
    margin-top: 150px;
}

.inputlong, .inputlarg, .inputprof{
    display: ruby;
}

.long, .larg, .prof{
    margin-left: 25px;
}