

.longueur {
    display: flex;
    justify-content: center;
    text-align: center;
    color: blanchedalmond;
    background-color: #e78e5e!important;
    border: solid 5px blanchedalmond;
    box-shadow: 0 4px 8px grey;
    border-radius: 50px;
    margin-top: 50px!important;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
}

.largeur, .profondeur {
    display: flex;
    justify-content: center;
    text-align: center;
    color: blanchedalmond;
    background-color: #e78e5e!important;
    border: solid 5px blanchedalmond;
    box-shadow: 0 4px 8px grey;
    border-radius: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
}

