$unlockColor: #e78e5e!important;
$lockColor: #49403d8e!important;
$textColor: white;
$borderColor: white;

.levelUnlock {
    
    text-align: center;
    padding: 5px;
    color: $textColor;
    background-color: $unlockColor;
    border: solid 5px $borderColor;
    box-shadow: 0 4px 8px grey;
    border-radius: 50px;
    margin-top: 50px!important;
    margin-left: 10px;
    width: auto;
    height: auto;
}

.levelLock {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: $textColor;
    background-color: $lockColor;
    border: solid 5px $borderColor;
    box-shadow: 0 4px 8px grey;
    border-radius: 50px;
    margin-top: 100px!important;
    margin-left: 25px;
    width: auto;
    height: auto;
}

.cercleIcon {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70px!important;
    color: #e78e5e;
    /*box-shadow: 0 4px 8px grey;*/
    
}
