.imagebutton {
  width: 20%;
}

@mixin buttonmixin {
  border-radius: 100%;
  border: none!important;
  width: 45px;
  height: 45px;
  box-shadow: 0px 4px 8px rgba(93, 91, 91, 0.5);
  cursor: pointer;
  background: white;
}

.disable {
  @include buttonmixin();
}

.active {
  box-shadow: 0px 0px 5px 6px rgb(235, 211, 183)!important;
  @include buttonmixin();
}
