
.treasury_card{
    border: 3px solid #05957c!important;
    border-radius: 9px!important;
    width: 90vw!important;
}
.cercle{
  padding: 10px!important;
  border-radius: 100px!important;
  background-color: #e78e5e!important;
  border: 4px solid white!important;
  box-shadow: 3px 4px 3px #888888;
  color: white;
  width: 250px;
}
.text{
  color: #05957c!important;
}
.points_display{
  border: solid 1px;
  border-radius: 100px!important;
  height: 90px;
  width: auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
}