.partnerimage {
    margin-top: 20px;
    border-radius: 100%;
    box-shadow: 0 4px 8px grey;
    width: 8rem;
    height: 8rem;
}

.partnername {
    margin: 5px 0;
    color: #383838;
}

.partnercoordonate {
    color: #888888;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.card {
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 5px -5px gray;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
}

.title {
    margin-top: 20px!important;
    background-color: #05957c;
    color: blanchedalmond;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.longueur {
    display: flex;
    justify-content: center;
    text-align: center;
    color: blanchedalmond;
    background-color: #e78e5e!important;
    border: solid 5px blanchedalmond;
    box-shadow: 0 4px 8px grey;
    border-radius: 50px;
    margin-top: 50px!important;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
}

.largeur, .profondeur {
    display: flex;
    justify-content: center;
    text-align: center;
    color: blanchedalmond;
    background-color: #e78e5e!important;
    border: solid 5px blanchedalmond;
    box-shadow: 0 4px 8px grey;
    border-radius: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
}

.endpage {
    display: flex;
    justify-content: space-between;
}

.flore2 {
    margin-right: 0;
}