*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "roboto", sans-serif !important;
}

.background-modal {
  background-color: rgba(0, 0, 0, 0.8) !important;
  width: 100% !important;
  position: fixed !important;
  bottom: 0%;
  text-align: center !important;
}

.center-modal {
  text-align: center !important;
}

.padding-modal {
  padding: 0 !important;
}

.image-modal {
  width: 8rem !important;
}

#button-modal {
  box-shadow: 0 0 0 2px #3e957c inset !important;
  color: #3e957c !important;
}

#button-modal:hover {
  background-color: transparent !important;
  box-shadow: 0 0 0 2px rgb(6, 175, 6) inset !important;
  color: rgb(6, 175, 6) !important;
}
