.map {
  max-height: 70vh;
  height: 70vh;
  margin-bottom: 20px;
}

/* @media screen and (min-height: 200px) and (max-height: 300px) {
    .map {
        height: 160px;
    }
}

@media screen and (min-height: 301px) and (max-height: 600px) {
    .map {
        height: 400px;
    }
}

@media screen and (min-height: 601px) and (max-height: 700px) {
    .map {
        height: 500px;
    }
}

@media screen and (min-height: 701px) and (max-height: 800px) {
    .map {
        height: 550px;
    }
}

@media screen and (min-height: 801px) and (max-height: 900px) {
    .map {
        height: 600px;
    }
}

@media screen and (min-height: 901px) and (max-height: 1100px) {
    .map {
        height: 650px;
    }
}

@media screen and (min-height: 1101px) {
    .map {
        height: 130vw;
    }
} */
